.navbutton{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 15px 4px rgb(0 0 0 / 23%);
    box-shadow: 0px 0px 15px 4px rgb(0 0 0 / 23%);
    margin-right: 10px;
}

.navbuttontext{
    margin: 0px;
    white-space: nowrap;
}