.editTop{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.editPanel{
    margin: 30px;
    max-width: 1000px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);
    box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);
    padding-bottom: 3px;
}

.profileUpload > input {
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 23%);
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 23%);
}

.updateBtn{
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);
    box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);
}
.updateBtn > h3{
    margin: 0px;
}

textarea{
    resize: none;
    width: 300px;
    height: 100px;
    color: white;
    font-family:Quicksand;
}