.comments{
    margin-top: 0px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);
    box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);
    max-width: 1500px;
    width: 100%;
}

.commentstext{
    margin-left: 15px;
}

.commentbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}