.videoandtitle{
    width: 100%;
    max-width: 1500px;
}

.player{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.video{
    -webkit-box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);
    box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);
    width: 100%;
}

.videoinfo{
    border-radius: 15px;

    -webkit-box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);
    box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);

    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px;


}

.profile{
    display: flex;
    flex-direction: row;
}

.profilebtn{
    display: flex;
    padding: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);
    box-shadow: 0px 0px 17px 10px rgb(0 0 0 / 23%);
}

.pfp{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.title{
    margin-bottom: 0px;
    margin-top: 0px;
}

.views{
    margin-top: 0px;
    color: rgb(177, 177, 177);
    margin-bottom: 3px;
}

.name{
    margin-left: 10px;
}

.reccomended{
    justify-self: right;
    max-width: 100%;
}

.description{
    margin: 0px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.statusrow{
    display: flex;
    flex-direction: row;
}

.year{
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 20px;
}

.metastars{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.titleviewsdate{
    display: flex;
    flex-direction: column;
}

.videostars{
    display: flex;
    align-self: center;
    justify-self: flex-end;
    justify-content: flex-end;
    margin-left: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.ratingnum{
    margin: 0px;
    text-align: center;
}