#TitleBar{
    margin: 0px;
    display: flex;
    box-shadow: 0px -2px 27px 2px #000000;
    align-items: center;
    flex-wrap: wrap;
}

#TitleBarText{
    margin: 0px;
    padding: 20px;
    padding-left: 10px;
}

.logoholder{
    width: auto;
    height: 60px;
    padding-left: 10px;
}

.logo{
    width: auto;
    height: 100%;
}

.navholder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}